Repository chef/chef-web-docs, pull requests merged in 2018-07, with the labels that each got.

#1511 Send all Expeditor notifications to #docs-notify
  .expeditor/config.yml
Labels: Expeditor: Skip All

#1504 14.3 Release Notes
  chef_master/source/chef_deprecations_client.rst
  chef_master/source/release_notes.rst
Labels: Do Not Merge

#1527 Re-enable basic verification testing in Buildkite
  .expeditor/config.yml
  .expeditor/verify.pipeline.yml
  Dockerfile
  Dockerfile.runner
  Makefile
  README.md
  doctools/docker_build.sh
Labels: ACC: Skip Update

#1528 Execute deployments with Buildkite
  .expeditor/buildkite/terraform.sh
  .expeditor/config.yml
  .expeditor/deploy.pipeline.yml
  .expeditor/verify.pipeline.yml
  .github/CODEOWNERS
  terraform/Makefile
  terraform/aws.tf
  terraform/backend.tf
  terraform/variables.tf
  terraform/vars/acceptance.tfvars
  terraform/vars/delivered.tfvars
  terraform/www.tf
Labels: ACC: Skip Update

#1531 Generate build output to `public/`
  .delivery/build-cookbook/recipes/publish.rb
  .gitignore
  Makefile
  README.md
  terraform/www.tf
Labels: ACC: Skip Update

#1535 Add processing output to apply_redirect.sh
  .expeditor/buildkite/apply_redirects.sh
Labels: ACC: Skip Update

#1532 Completely disable Travis+Workflow
  .delivery/build-cookbook/Berksfile
  .delivery/build-cookbook/metadata.rb
  .delivery/build-cookbook/recipes/default.rb
  .delivery/build-cookbook/recipes/deploy.rb
  .delivery/build-cookbook/recipes/provision.rb
  .delivery/build-cookbook/recipes/publish.rb
  .delivery/build-cookbook/recipes/smoke.rb
  .delivery/config.json
  .expeditor/config.yml
  .expeditor/deploy.pipeline.yml
  .travis.yml
  terraform/vars/acceptance.tfvars
  terraform/vars/delivered.tfvars
Labels: ACC: Skip Update
