Repository chef/chef-web-docs, pull requests merged in 2019-05, with the labels that each got.

#1899 Solving license acceptance TODOs
  chef_master/source/chef_license_accept.rst
  chef_master/source/versions.rst
Labels: Aspect: Documentation, Status: Incomplete

#1910 Stop the sidebars from scrolling
  _themes/chefv3/static/scss/_nav.scss
  _themes/chefv3/static/scss/_sphinx.scss
Labels: Aspect: UI

#1911 Fixes GitHub link
  chef_master/source/chef_license_accept.rst
Labels: Aspect: Documentation

#1914 Kg/noscroll
  _themes/chefv3/sidebar.html
  _themes/chefv3/static/chefv2.css_t
  _themes/chefv3/static/scss/_nav-docs.scss
  _themes/chefv3/static/scss/_nav.scss
  _themes/chefv3/static/scss/_sphinx.scss
Labels: Aspect: UI
