Repository chef/chef-web-docs, pull requests merged in 2020-06, with the labels that each got.

#2510 Update chef-workstation Hugo module
  go.mod
  go.sum
Labels: WIP: Do Not Merge

#2520 Updating InSpec Platforms
  content/platforms.md
  go.mod
Labels: Aspect: Documentation, Documentation

#2521 Removing Mandi and Nell. Adding benny.
  content/community_guidelines.md
Labels: Aspect: Documentation

#2523 Updates OS versions to current
  content/azure_powershell.md
  content/resources/ifconfig/_index.md
  content/vmware.md
  layouts/shortcodes/cookbook_file_specificity.md
  layouts/shortcodes/dt_cookbook_file_specificity.md
  layouts/shortcodes/knife_search_by_query_for_nested_attribute.md
  layouts/shortcodes/ws_ctl_kitchen_common_option_platforms.md
  layouts/shortcodes/ws_knife_search_by_query_for_nested_attribute.md
  layouts/shortcodes/ws_test_kitchen_driver_vagrant_config.md
  layouts/shortcodes/ws_test_kitchen_yml_syntax.md
Labels: Documentation

#2504 Install extension no longer supported via azure portal
  content/azure_chef_cli.md
  content/azure_portal.md
Labels: Documentation
