Repository chef/chef-web-docs, pull requests merged in 2021-09, with the labels that each got.

#3342 Add extra steps to restore docs
  themes/docs-new/layouts/shortcodes/ctl_chef_server_restore.md
Labels: Documentation

#3398 Add 17.4.38
  content/release_notes_client.md
Labels: Documentation

#3399 Update Cookstyle cops yaml files and pages to 7.23.0
  _vendor/github.com/chef/cookstyle/docs-chef-io/data/cookstyle/cops_chef_deprecations_resourcewithoutunifiedtrue.yml
  _vendor/github.com/chef/cookstyle/docs-chef-io/data/cookstyle/cops_chef_modernize_classevalactionclass.yml
  _vendor/github.com/chef/cookstyle/docs-chef-io/data/cookstyle/cops_chef_modernize_usecheflanguagecloudhelpers.yml
  _vendor/github.com/chef/cookstyle/docs-chef-io/data/cookstyle/cops_chef_modernize_usecheflanguageenvhelpers.yml
  _vendor/modules.txt
  content/workstation/cookstyle/chef_correctness_powershellfileexists.md
  content/workstation/cookstyle/chef_deprecations_dependsonchefnginxcookbook.md
  content/workstation/cookstyle/chef_deprecations_dependsonchefreportingcookbook.md
  content/workstation/cookstyle/chef_deprecations_dependsonomnibusupdatercookbook.md
  content/workstation/cookstyle/chef_deprecations_deprecatedsudoactions.md
  content/workstation/cookstyle/chef_modernize_classevalactionclass.md
  content/workstation/cookstyle/chef_modernize_dependsonchefvaultcookbook.md
  content/workstation/cookstyle/chef_modernize_dependsonchocolateycookbooks.md
  content/workstation/cookstyle/chef_modernize_dependsonkernelmodulecookbook.md
  content/workstation/cookstyle/chef_modernize_dependsonlocalecookbook.md
  content/workstation/cookstyle/chef_modernize_dependsonopensslcookbook.md
  content/workstation/cookstyle/chef_modernize_dependsontimezonelwrpcookbook.md
  content/workstation/cookstyle/chef_modernize_dependsonwindowsfirewallcookbook.md
  content/workstation/cookstyle/chef_modernize_unnecessarydependschef15.md
  content/workstation/cookstyle/chef_modernize_usecheflanguagecloudhelpers.md
  content/workstation/cookstyle/chef_modernize_usecheflanguageenvhelpers.md
  go.mod
  go.sum
Labels: Documentation

#3401 Server docs update 9-1-21
  _vendor/github.com/chef/chef-server/docs-chef-io/content/server/upgrades.md
  _vendor/modules.txt
  go.mod
  go.sum
Labels: Documentation

#3402 Update cookstyle to 7.24.1
  _vendor/github.com/chef/cookstyle/docs-chef-io/data/cookstyle/cops_chef_modernize_usecheflanguagecloudhelpers.yml
  _vendor/github.com/chef/cookstyle/docs-chef-io/data/cookstyle/cops_chef_modernize_usecheflanguageenvhelpers.yml
  _vendor/github.com/chef/cookstyle/docs-chef-io/data/cookstyle/cops_chef_modernize_usecheflanguagesystemdhelper.yml
  _vendor/modules.txt
  content/workstation/cookstyle/chef_modernize_usecheflanguagesystemdhelper.md
  go.mod
  go.sum
Labels: Documentation

#3407 Chef Infra Server is EOL from June 30 2021
  content/versions.md
Labels: Documentation

#3408 Remove Chef Conf main menu item
  config/_default/menu.toml
Labels: Documentation

#3410 Add Chef Infra Client 13.1 release notes
  content/release_notes_client.md
Labels: Documentation

#3411 Update Chef Client 13 release notes
  content/release_notes_client.md
Labels: Documentation

#3412 Add missing chef 12 release + update CVEs
  content/release_notes_client.md
Labels: Documentation

#3299 Add Automate Integrations Nav Entry
  config/_default/menu.toml
Labels: Documentation

#3415 Remove Cloud Integrations header
  config/_default/menu.toml
Labels: Documentation

#3413 Add missing releases and fix where CVEs were fixed
  content/release_notes_client.md
Labels: Documentation

#3417 Update automate docs
  _vendor/github.com/chef/automate/components/docs-chef-io/content/automate/chef_infra_server.md
  _vendor/github.com/chef/automate/components/docs-chef-io/content/automate/servicenow_integration.md
  _vendor/github.com/chef/automate/components/docs-chef-io/content/automate/servicenow_integration_install.md
  _vendor/github.com/chef/automate/components/docs-chef-io/content/automate/servicenow_integration_reference.md
  _vendor/github.com/chef/automate/components/docs-chef-io/content/automate/session_timeout.md
  _vendor/github.com/chef/automate/components/docs-chef-io/static/images/automate/content-scroller-tab-for-policyfiles.png
  _vendor/github.com/chef/automate/components/docs-chef-io/static/images/automate/cookbook-dependencies-from-policyfiles.png
  _vendor/github.com/chef/automate/components/docs-chef-io/static/images/automate/delete-policyfiles.png
  _vendor/github.com/chef/automate/components/docs-chef-io/static/images/automate/details-of-policyfiles.png
  _vendor/github.com/chef/automate/components/docs-chef-io/static/images/automate/details-of-the-policygroup.png
  _vendor/github.com/chef/automate/components/docs-chef-io/static/images/automate/search-for-a-policygroup.png
  _vendor/modules.txt
  go.mod
  go.sum
Labels: Documentation

#3418 Sync release notes back as far as they go in chef/chef
  content/release_notes_client.md
Labels: Documentation

#3419 Fix a few more release notes mistakes
  content/release_notes_client.md
Labels: Documentation

#3404 Remove Erubis mentions
  _vendor/github.com/chef/chef-workstation/docs-chef-io/content/workstation/knife_cookbook.md
  content/templates.md
  data/infra/resources/template.yaml
  themes/docs-new/layouts/shortcodes/handler_community_handlers.md
  themes/docs-new/layouts/shortcodes/notes_cookbook_template_erubis.md
  themes/docs-new/layouts/shortcodes/template.md
Labels: Documentation

#3420 Resource updates for Chef Infra Client 17.5
  data/infra/resources/chef_client_scheduled_task.yaml
  data/infra/resources/chocolatey_config.yaml
  data/infra/resources/group.yaml
  data/infra/resources/homebrew_tap.yaml
  data/infra/resources/inspec_waiver_file_entry.yaml
  data/infra/resources/registry_key.yaml
Labels: Documentation

#3147 [GH-3124] Remove definition documentation
  content/definitions.md
  content/glossary.md
Labels: Aspect: Documentation, Type: Deprecation, Documentation, Topic: Resources

#3421 Remove redundant install menu item
  config/_default/menu.toml
Labels: Documentation

#3424 Add missing versions for Infra Client
  content/release_notes_client.md
Labels: Documentation

#3425 More updates to versions in infra client release notes
  content/release_notes_client.md
Labels: Documentation

#3426 Add the remaining missing releases
  content/release_notes_client.md
Labels: Documentation

#3428 Fix formatting in timezone examples
  data/infra/resources/timezone.yaml
Labels: Documentation

#3430 Remove really old cisco platforms from API docs
  content/api_omnitruck.md
Labels: Documentation

#3431 Remove old platforms that aren't really community supported
  content/platforms.md
Labels: Documentation

#3432 Update our Infra Client macOS supported platforms
  content/platforms.md
Labels: Documentation

#3429 Fix client example cookbook name in quick_start.md
  content/quick_start.md
Labels: Documentation

#3433 Nav fixes for kg/concepts-nav
  config/_default/menu.toml
Labels: Documentation

#3434 Troubleshooting should be in reference
  config/_default/menu.toml
  content/errors.md
Labels: Documentation

#3436 Update desktop docs
  _vendor/github.com/chef/chef-workstation/docs-chef-io/content/workstation/knife_cookbook.md
  _vendor/github.com/chef/desktop-config/docs-chef-io/content/desktop/cookbook_repository.md
  _vendor/github.com/chef/desktop-config/docs-chef-io/content/desktop/policies.md
  _vendor/modules.txt
  go.mod
  go.sum
Labels: Documentation

#3422 Add seamless release notes for client
  content/release_notes_client.md
  content/release_notes_server.md
Labels: Documentation

#3437 Fix mid-word underscores in release notes
  themes/docs-new/assets/js/releases.js
Labels: Documentation

#3438 Update examples and properties in remote_file
  data/infra/resources/remote_file.yaml
Labels: Documentation

#3441 Add supermarket release notes
  content/release_notes_supermarket.md
Labels: Documentation, WIP: Do Not Merge

#3444 Add new resources and platforms for 17.5
  content/api_omnitruck.md
  content/packages.md
  content/platforms.md
  content/resources/inspec_input.md
  content/resources/inspec_waiver.md
  data/infra/resources/inspec_input.yaml
  data/infra/resources/inspec_waiver.yaml
Labels: Documentation

#3443 Redirects for top 404s
  content/attribute_arrays.md
  content/attribute_types.md
  content/attributes.md
  content/azure_marketplace.md
  content/chef_client_overview.md
  content/chef_client_security.md
  content/chef_search.md
  content/cookbooks.md
  content/data_bags.md
  content/handlers.md
  content/resources/_index.md
  content/resources/windows_env.md
  content/ruby.md
  netlify.toml
Labels: Documentation

#3331 Chef Infra Client Nav Reorg
  config/_default/menu.toml
  content/chef_client_overview.md
  content/chef_client_security.md
  content/chef_deprecations_client.md
  content/chef_overview.md
  content/chef_repo.md
  content/chef_system_requirements.md
  content/config_rb_client.md
  content/config_rb_manage.md
  content/config_rb_metadata.md
  content/config_rb_policyfile.md
  content/config_rb_solo.md
  content/config_rb_supermarket.md
  content/cookbook_repo.md
  content/ctl_chef_client.md
  content/ctl_chef_solo.md
  content/ctl_ohai.md
  content/ctl_supermarket.md
  content/data_bags.md
  content/environments.md
  content/errors.md
  content/fips.md
  content/glossary.md
  content/install_bootstrap.md
  content/install_chef_air_gap.md
  content/nodes.md
  content/policy.md
  content/policyfile.md
  content/proxies.md
  content/quick_start.md
  content/roles.md
  content/run_lists.md
  content/terraform.md
  content/uninstall.md
  content/upgrade_client.md
Labels: Documentation, WIP: Do Not Merge

#3440 Update NPM node modules
  themes/docs-new/package-lock.json
Labels: Documentation
