Repository chef/chef-web-docs, pull requests merged in 2021-01, with the labels that each got.

#2829 2021 Supported Versions
  content/versions.md
Labels: Aspect: Documentation, Documentation

#2849 Change node.set in examples
  content/debug.md
  themes/docs-new/layouts/shortcodes/chef_shell_example_hello_world.md
Labels: Aspect: Documentation

#2851 Nav fix and remove Chef Manage content from main docs
  config.toml
  content/environments.md
  content/roles.md
  content/run_lists.md
  content/secrets.md
Labels: Aspect: Documentation, Documentation

#2765 Misc cleanup to the attributes documentation
  config.toml
  content/attribute_arrays.md
  content/attribute_persistence.md
  content/attribute_precedence.md
  content/attribute_sources.md
  content/attribute_types.md
  content/attributes.md
  content/attributes_legacy.md
  content/environments.md
  content/ohai.md
  content/recipes.md
  content/roles.md
  content/run_lists.md
  content/server_manage_nodes.md
  themes/docs-new/layouts/shortcodes/environment_variables_access_resource_attributes.md
  themes/docs-new/layouts/shortcodes/environment_variables_summary.md
  themes/docs-new/layouts/shortcodes/node_attribute.md
  themes/docs-new/layouts/shortcodes/node_attribute_evaluation_order.md
  themes/docs-new/layouts/shortcodes/node_attribute_when_to_use_unless_variants.md
  themes/docs-new/layouts/shortcodes/ohai_automatic_attribute.md
  themes/docs-new/layouts/shortcodes/role_attribute.md
Labels: Aspect: Documentation, Documentation

#2856 Update 2020 overview image
  content/chef_overview.md
  static/images/chef_overview_2020.svg
Labels: Aspect: Documentation, Documentation

#2881 Remove extra menu entry
  config.toml
Labels: Documentation

#2880 Add 16.9.29 and 16.9.20 release notes
  content/release_notes_client.md
Labels: Documentation

#2868 Remove some old glossary definitions
  content/glossary.md
Labels: Aspect: Documentation, Documentation

#2885 fix typo
  content/release_notes_client.md
Labels: Documentation
