Repository chef/chef-web-docs, pull requests merged in 2021-11, with the labels that each got.

#3522 Fix mistake in "force" warning syntax
  data/infra/resources/user.yaml
Labels: Documentation

#3524 Fix malformed warnings in two resources
  data/infra/resources/dsc_script.yaml
  data/infra/resources/registry_key.yaml
Labels: Documentation

#3529 Update the platform versions we support
  content/api_omnitruck.md
  content/platforms.md
Labels: Documentation

#3528 Fix a few typos flagged by cspell
  content/chef_license_accept.md
  content/custom_resources.md
  content/errors.md
Labels: Documentation

#3527 Add s390x back to Infra Client
  content/platforms.md
Labels: Documentation

#3530 Fix typos in the platforms page
  content/platforms.md
Labels: Documentation

#3531 Update supported platforms for Backend / Manage
  content/platforms.md
Labels: Documentation

#3532 Remove Robb from the community guidelines page
  content/community_guidelines.md
Labels: Documentation

#3535 Add cookstyle cops pages
  content/workstation/cookstyle/chef_correctness_metadatamissingversion.md
  content/workstation/cookstyle/chef_modernize_declareactionclass.md
Labels: Documentation

#3534 Edit people in Commmunity Guidelines page
  content/community_guidelines.md
Labels: Documentation

#3533 Remove Inc
  content/api_omnitruck.md
  content/packages.md
  content/platforms.md
Labels: Documentation

#3538 Add a better common example for retry properties
  archetypes/all_the_resources.md
  content/resource_common.md
  content/resources/_index.md
  data/infra/resources/chef_acl.yaml
  data/infra/resources/chef_client.yaml
  data/infra/resources/chef_container.yaml
  data/infra/resources/chef_data_bag.yaml
  data/infra/resources/chef_data_bag_item.yaml
  data/infra/resources/chef_environment.yaml
  data/infra/resources/chef_group.yaml
  data/infra/resources/chef_node.yaml
  data/infra/resources/chef_organization.yaml
  data/infra/resources/chef_role.yaml
  data/infra/resources/chef_user.yaml
  data/infra/resources/package.yaml
  data/infra/resources/perl.yaml
  data/infra/resources/python.yaml
  data/infra/resources/ruby.yaml
  themes/docs-new/layouts/shortcodes/resource_service_use_retries_properties.md
  themes/docs-new/layouts/shortcodes/resources_common_properties.md
Labels: Documentation

#3541 Give the full version range for unified_mode in Chef Infra Client 14
  themes/docs-new/layouts/shortcodes/unified_mode.md
Labels: Documentation

#3543 Update Inspec AWS Hugo module
  _vendor/github.com/inspec/inspec-aws/docs-chef-io/static/release-notes/inspec-aws/2021-11-08.md
  _vendor/github.com/inspec/inspec-aws/docs-chef-io/static/release-notes/inspec-aws/release-dates.json
  _vendor/github.com/inspec/inspec-azure/docs-chef-io/static/release-notes/inspec-azure/release-dates.json
  _vendor/modules.txt
  go.mod
  go.sum
Labels: Documentation

#3545 Update Supermarket configuration docs
  content/config_rb_supermarket.md
Labels: Documentation

#3549 Add Solaris 11.3 back as a supported platform
  content/platforms.md
Labels: Documentation

#3544 Spellchecks
  content/install_chef_air_gap.md
Labels: Documentation

#3547 Document the new banner feature
  content/config_rb_supermarket.md
Labels: Documentation

#3537 Ignore build / test files
  .gitignore
Labels: Documentation

#3505 Rework the description of a policyfile
  themes/docs-new/layouts/shortcodes/policyfile_summary.md
Labels: Documentation

#3550 Fix typos in resources
  data/infra/resources/execute.yaml
Labels: Documentation

#3551 Link updated for the Install Supermarket
  content/install_supermarket.md
Labels: Aspect: Documentation, Documentation

#3470 Rewrite Chef Client Security
  content/chef_client_security.md
  themes/docs-new/layouts/shortcodes/chef_auth.md
  themes/docs-new/layouts/shortcodes/chef_auth_authentication.md
  themes/docs-new/layouts/shortcodes/security_chef_validator_context.md
Labels: Component: Chef Infra Client, Documentation

#3553 Add info about permission integers
  themes/docs-new/layouts/shortcodes/resources_common_windows_security_acl.md
Labels: Documentation

#3554 Im/supermarket docs
  _vendor/github.com/chef/supermarket/docs-chef-io/config.toml
  _vendor/github.com/chef/supermarket/docs-chef-io/content/supermarket/_index.md
  _vendor/github.com/chef/supermarket/docs-chef-io/content/supermarket/config_rb_supermarket.md
  _vendor/github.com/chef/supermarket/docs-chef-io/content/supermarket/ctl_supermarket.md
  _vendor/github.com/chef/supermarket/docs-chef-io/content/supermarket/install_supermarket.md
  _vendor/github.com/chef/supermarket/docs-chef-io/content/supermarket/supermarket_api.md
  _vendor/github.com/chef/supermarket/docs-chef-io/content/supermarket/supermarket_backup_restore.md
  _vendor/github.com/chef/supermarket/docs-chef-io/content/supermarket/supermarket_logs.md
  _vendor/github.com/chef/supermarket/docs-chef-io/content/supermarket/supermarket_monitor.md
  _vendor/github.com/chef/supermarket/docs-chef-io/content/supermarket/supermarket_private.md
  _vendor/github.com/chef/supermarket/docs-chef-io/content/supermarket/supermarket_share_cookbook.md
  _vendor/modules.txt
  config/_default/module.toml
  go.mod
  go.sum
Labels: Documentation

#3559 Kg/hugo893
  netlify.toml
Labels: Documentation

#3560 Kg/node17
  netlify.toml
Labels: Documentation

#3561 Update some Node package dependencies
  themes/docs-new/package-lock.json
Labels: Documentation

#3572 Automate Nav Improvements
  config/_default/menu.toml
Labels: Documentation

#3556 Removed the Outdated Library Requirements
  themes/docs-new/layouts/shortcodes/system_requirements_server_software.md
Labels: Aspect: Documentation, Documentation

#3578 Update Effortless Hugo mod
  _vendor/github.com/chef/effortless/docs-chef-io/config.toml
  _vendor/github.com/chef/effortless/docs-chef-io/content/effortless/effortless_audit.md
  _vendor/github.com/chef/effortless/docs-chef-io/content/effortless/effortless_config.md
  _vendor/github.com/chef/effortless/docs-chef-io/content/effortless/what_is_scaffolding.md
  _vendor/modules.txt
  go.mod
  go.sum
Labels: Documentation

#3579 Fix expeditor pull_request_merged script
  .expeditor/update_hugo_modules_pull_request_merged.sh
Labels: Documentation

#3582 Updated the note for the `ssl_protocol`
  themes/docs-new/layouts/shortcodes/server_tuning_nginx.md
Labels: Aspect: Documentation, Documentation

#3557 Added EOL Warning to the ChefDK Release Notes
  content/release_notes_chefdk.md
  themes/docs-new/layouts/shortcodes/EOL_chefdk.md
Labels: Aspect: Documentation, Documentation

#3555 Removed the outdated note
  themes/docs-new/layouts/shortcodes/system_requirements_server_hardware.md
Labels: Aspect: Documentation, Documentation
