Repository chef/chef-web-docs, pull requests merged in 2021-04, with the labels that each got.

#3052 Add faceted search with Swiftype
  _vendor/github.com/cowboy/jquery-hashchange/jquery.ba-hashchange.min.js
  _vendor/github.com/swiftype/swiftype-autocomplete-jquery/jquery.swiftype.autocomplete.js
  _vendor/github.com/swiftype/swiftype-search-jquery/jquery.swiftype.search.js
  _vendor/github.com/twitter/hogan.js/package.json
  _vendor/github.com/twitter/hogan.js/web/builds/3.0.2/hogan-3.0.2.min.js
  _vendor/modules.txt
  config/_default/module.toml
  go.mod
  go.sum
  themes/docs-new/assets/js/browser.js
  themes/docs-new/assets/js/swiftype-config.js
  themes/docs-new/assets/sass/main.scss
  themes/docs-new/assets/sass/partials/_swiftype_search.scss
  themes/docs-new/layouts/_default/baseof.html
  themes/docs-new/layouts/partials/javascript.html
  themes/docs-new/layouts/partials/sidebar-off-canvas.html
  themes/docs-new/layouts/partials/sidebar-on-canvas.html
  themes/docs-new/layouts/partials/swiftype_search_modal.html
Labels: Aspect: UI, Documentation

#3069 Update inspec module
  _vendor/github.com/inspec/inspec/docs-chef-io/content/inspec/cli.md
  _vendor/github.com/inspec/inspec/docs-chef-io/content/inspec/resources/postgres_ident_conf.md
  _vendor/modules.txt
  go.mod
  go.sum
Labels: Documentation

#3068 Remove Chef Infra Server menu section from Infra menu
  config/_default/menu.toml
Labels: Documentation

#3066 Top nav fixes updates
  config/_default/menu.toml
  themes/docs-new/assets/sass/partials/_grid.scss
  themes/docs-new/assets/sass/partials/_sidebar.scss
  themes/docs-new/assets/sass/partials/_utility-bar.scss
  themes/docs-new/layouts/_default/baseof.html
  themes/docs-new/layouts/_default/single.html
  themes/docs-new/layouts/partials/utility-bar-small.html
  themes/docs-new/layouts/partials/utility-bar.html
Labels: Aspect: UI

#3074 Fix how go.sum file is tidied after a module is updated
  .expeditor/update_hugo_modules_artifact_published.sh
  .expeditor/update_hugo_modules_project_promoted.sh
  .expeditor/update_hugo_modules_pull_request_merged.sh
  go.mod
  go.sum
Labels: Component: Expeditor Config, Documentation

#3073 Fix variable in cookstyle cop expeditor update script
  .expeditor/update_hugo_modules_cookstyle.sh
Labels: Component: Expeditor Config, Documentation

#2870 Compliance Phase Working Branch
  content/chef_client_overview.md
  content/chef_compliance_phase.md
  content/glossary.md
  static/images/chef_run.png
  static/images/chef_run.svg
  themes/docs-new/layouts/shortcodes/chef_client_run.md
Labels: Aspect: Documentation, Component: Chef Infra Client, Documentation

#3086 Add swiftype to API docs pages
  themes/docs-new/layouts/_default/data-api.html
Labels: Documentation

#3089 Fix header levels & markdown cleanup
  content/chef_compliance_phase.md
Labels: Aspect: Documentation

#3091 Gradients all the way down
  static/images/chef_run.svg
Labels: Documentation

#3096 Clarify using node date for inputs
  content/chef_compliance_phase.md
Labels: Component: Chef Infra Client, Documentation
