Repository chef/chef-web-docs, pull requests merged in 2021-02, with the labels that each got.

#2863 Break the Infra Language page up into smaller pages
  config.toml
  content/infra_language.md
  content/infra_language/_index.md
  content/infra_language/checking_architectures.md
  content/infra_language/checking_platforms.md
  content/infra_language/cookbook_execution.md
  content/infra_language/editing_resources.md
  content/infra_language/logging.md
  content/infra_language/node_tags.md
  content/infra_language/reading_data_bags.md
  content/infra_language/registry_keys.md
  content/infra_language/search.md
  content/infra_language/shelling_out.md
  layouts/index.html
  themes/docs-new/layouts/shortcodes/ruby_class_chef_log_fatal.md
  themes/docs-new/layouts/shortcodes/ruby_class_chef_log_multiple.md
  themes/docs-new/layouts/shortcodes/ruby_style_basics_chef_log.md
Labels: Documentation

#2876 Update data bag encryption
  content/data_bags.md
  content/secrets.md
  data/infra/resources/chef_data_bag_item.yaml
  static/images/essentials_data_bags_versions.png
  themes/docs-new/layouts/shortcodes/data_bag_encryption_versions.md
Labels: Aspect: Documentation, Documentation

#2915 Remove Habitat & Terraform provisioners
  content/chef_license_accept.md
  content/terraform.md
Labels: Documentation

#2893 Examples in the docs
  README.md
  content/community_contributions.md
  content/style_guide.md
Labels: Aspect: Documentation, Documentation

#2872 Chef web docs issue 2852
  content/aws_marketplace.md
  content/chef_overview.md
  content/config_rb_supermarket.md
  content/ctl_manage.md
  content/environments.md
  content/glossary.md
Labels: Aspect: Documentation, Documentation

#2763 Attribute Precedence Table
  content/attribute_precedence.md
  themes/docs-new/layouts/shortcodes/node_attribute_precedence.md
Labels: Aspect: Documentation

#2929 Tell swiftype what we want indexed
  content/_index.md
  content/sitemap.md
  themes/docs-new/layouts/_default/infra_resource.html
  themes/docs-new/layouts/_default/infra_resources_all.html
  themes/docs-new/layouts/_default/list.html
  themes/docs-new/layouts/_default/single.html
  themes/docs-new/layouts/partials/edit_on_github.html
  themes/docs-new/layouts/partials/head.html
Labels: Documentation

#2961 Remove chef-apply
  content/glossary.md
  themes/docs-new/layouts/shortcodes/knife_common_windoquotes_module.md
  themes/docs-new/layouts/shortcodes/knife_common_windows_quotes_module.md
Labels: Documentation
