Repository chef/chef-web-docs, pull requests merged in 2021-03, with the labels that each got.

#2938 Use 4th Cafe as preferred docs example.
  content/compliance/chef-benchmark.md
  content/style_guide.md
  content/supermarket_api.md
  themes/docs-new/layouts/shortcodes/ctl_chef_server_org_create_summary.md
Labels: Aspect: Documentation, Documentation

#2986 Improve WS nav
  config.toml
Labels: Aspect: Documentation, Documentation

#3010 Add Expeditor config for Cookstyle repo
  .expeditor/config.yml
  .expeditor/update_hugo_modules_cookstyle.sh
Labels: Component: Expeditor Config

#3012 Update automate_architecture.svg
  static/images/automate_architecture.svg
Labels: Aspect: Documentation

#2995 Platform Overview svg
  static/images/start_chef.svg
  themes/docs-new/layouts/shortcodes/chef.md
Labels: Aspect: Documentation, Documentation

#2985 Image styling
  content/chef_client_overview.md
  content/chef_overview.md
  content/config_rb_manage.md
  content/ctl_manage.md
  content/install_supermarket.md
  content/manage.md
  content/nodes.md
  content/platform_overview.md
  content/server_configure_saml.md
  content/server_manage_clients.md
  content/server_manage_cookbooks.md
  content/server_manage_data_bags.md
  content/server_manage_environments.md
  content/server_manage_nodes.md
  content/server_manage_roles.md
  content/server_orgs.md
  content/supermarket.md
  content/supermarket_share_cookbook.md
  themes/docs-new/assets/sass/_homepage.scss
  themes/docs-new/assets/sass/_utility-bar.scss
  themes/docs-new/assets/sass/_variables.scss
  themes/docs-new/assets/sass/partials/_grid.scss
  themes/docs-new/layouts/partials/utility-bar-small.html
  themes/docs-new/layouts/partials/utility-bar.html
  themes/docs-new/layouts/shortcodes/chef_automate_mark.html
  themes/docs-new/layouts/shortcodes/chef_automate_mark.md
  themes/docs-new/layouts/shortcodes/node_types.md
Labels: Aspect: Documentation, Aspect: UI

#3016 Improve swiftype indexing in infra resources pages
  themes/docs-new/layouts/_default/infra_resource.html
Labels: Aspect: Documentation

#3004 Improve site layout
  themes/docs-new/assets/sass/_homepage.scss
  themes/docs-new/assets/sass/_variables.scss
  themes/docs-new/assets/sass/partials/_grid.scss
  themes/docs-new/assets/sass/partials/_sidebar.scss
  themes/docs-new/layouts/_default/baseof.html
  themes/docs-new/layouts/partials/javascript.html
  themes/docs-new/layouts/partials/versioned-docs-toc.html
Labels: WIP: Do Not Merge

#3030 Add WS explanation and updated content list
  themes/docs-new/layouts/shortcodes/chef_workstation.md
Labels: Aspect: Documentation

#3023 Remove only_if_modified with project_promoted:cookstyle
  .expeditor/config.yml
Labels: Component: Expeditor Config

#3020 Clean up some HTML elements and scss files
  layouts/index.html
  themes/docs-new/assets/sass/_header.scss
  themes/docs-new/assets/sass/main.scss
  themes/docs-new/assets/sass/partials/_bg.scss
  themes/docs-new/assets/sass/partials/_blurbs.scss
  themes/docs-new/assets/sass/partials/_callout.scss
  themes/docs-new/assets/sass/partials/_cards.scss
  themes/docs-new/assets/sass/partials/_footer.scss
  themes/docs-new/assets/sass/partials/_padding.scss
  themes/docs-new/assets/sass/partials/_runbook.scss
  themes/docs-new/assets/sass/partials/_tab-container.scss
  themes/docs-new/assets/sass/partials/_tabs.scss
  themes/docs-new/assets/sass/partials/_utility-bar.scss
  themes/docs-new/assets/sass/typography/_code.scss
  themes/docs-new/layouts/_default/baseof.html
  themes/docs-new/layouts/partials/javascript.html
  themes/docs-new/layouts/partials/sidebar-on-canvas.html
  themes/docs-new/layouts/partials/utility-bar-small.html
Labels: Aspect: UI

#3015 config-toml file updated
  config.toml
  config/_default/menu.toml
Labels: Aspect: Documentation, Documentation, WIP: Do Not Merge
