Repository chef/chef-web-docs, pull requests merged in 2021-05, with the labels that each got.

#3110 Fix two broken links
  content/aws_marketplace.md
  content/chef_compliance_phase.md
Labels: Documentation

#3113 Add descriptions to improve SEO
  archetypes/all_the_resources.md
  archetypes/default.md
  config.toml
  content/resources/_index.md
  themes/docs-new/layouts/partials/head.html
  themes/docs-new/layouts/partials/head_summary.html
Labels: Documentation

#3127 Add description to API pages
  themes/docs-new/layouts/_default/data-api.html
Labels: Documentation

#2956 Reorg Style Guide
  config.toml
  config/_default/menu.toml
  content/community_contributions.md
  content/community_guidelines.md
  content/style_guide.md
  content/style_house.md
  content/style_hugo.md
  content/style_index.md
  content/style_markdown.md
  content/style_reuse.md
  content/style_tools.md
  static/images/add_DCO.png
  static/images/edit_on_github.png
  static/images/file_in_repo.png
Labels: Documentation, Type: Docs Debt

#3130 Remove envrc because doctools doesn't exist
  .envrc
Labels: Documentation

#3094 Clarify the 413 Error solution and logs
  content/chef_compliance_phase.md
Labels: Aspect: Documentation, Component: Chef Infra Client, Documentation

#3112 CanonifyURLs
  config.toml
  themes/docs-new/assets/sass/_typography.scss
  themes/docs-new/assets/sass/_variables.scss
  themes/docs-new/layouts/_default/data-api.html
  themes/docs-new/layouts/partials/head.html
  themes/docs-new/layouts/partials/javascript.html
  themes/docs-new/layouts/partials/release_notes.html
  themes/docs-new/layouts/partials/scss.html
Labels: Aspect: Documentation

#3157 Add Chef Infra Server 14.3 release notes
  content/release_notes_server.md
Labels: Documentation

#3154 Update environments heading
  content/environments.md
Labels: Documentation

#3151 Typo
  themes/docs-new/layouts/shortcodes/chef_client_run.md
Labels: Documentation

#3161 Move Supermarket
  config/_default/menu.toml
  config/_default/params.toml
  content/compliance/_index.md
  content/compliance/chef-benchmark.md
  content/config_rb_supermarket.md
  content/ctl_supermarket.md
  content/install_supermarket.md
  content/supermarket.md
  content/supermarket_api.md
  content/supermarket_backup_restore.md
  content/supermarket_logs.md
  content/supermarket_monitor.md
  content/supermarket_private.md
  content/supermarket_share_cookbook.md
Labels: Documentation

#3175 Im/resources layout
  archetypes/all_the_resources.md
  content/resources/_index.md
  data/infra/resources/chef_client_config.yaml
  data/infra/resources/dnf_package.yaml
  data/infra/resources/execute.yaml
  data/infra/resources/file.yaml
  data/infra/resources/git.yaml
  data/infra/resources/macos_userdefaults.yaml
  data/infra/resources/package.yaml
  data/infra/resources/registry_key.yaml
  data/infra/resources/windows_certificate.yaml
  data/infra/resources/windows_package.yaml
  data/infra/resources/yum_package.yaml
  data/infra/resources/yum_repository.yaml
  infra_resources_readme.md
  themes/docs-new/layouts/_default/infra_resource.html
  themes/docs-new/layouts/_default/infra_resources_all.html
  themes/docs-new/layouts/partials/infra_resources_all_toc.html
Labels: Documentation

#3179 Make page links work in infra and desktop resource pages
  themes/docs-new/layouts/_default/infra_resources_all.html
Labels: Documentation

#3120 Deprecation Note for Chef Backend
  themes/docs-new/layouts/shortcodes/EOL_backend.md
Labels: Aspect: Documentation, Documentation
