Repository chef/chef-web-docs, pull requests merged in 2021-06, with the labels that each got.

#3194 Update Habitat module
  _vendor/github.com/habitat-sh/habitat/components/docs-chef-io/content/habitat/plan_helpers.md
  _vendor/github.com/habitat-sh/habitat/components/docs-chef-io/content/habitat/sup_elections.md
  _vendor/modules.txt
  go.mod
  go.sum
Labels: Documentation

#3195 Make infra_resource page layout work with resources other than infra
  themes/docs-new/layouts/_default/infra_resource.html
Labels: Component: Chef Desktop, Documentation

#3200 Update WS and Server mods
  _vendor/github.com/chef/chef-server/docs-chef-io/content/server/backend_failure_recovery.md
  _vendor/github.com/chef/chef-server/docs-chef-io/content/server/config_rb_backend.md
  _vendor/github.com/chef/chef-server/docs-chef-io/content/server/ctl_chef_backend.md
  _vendor/github.com/chef/chef-server/docs-chef-io/content/server/install_server_ha.md
  _vendor/github.com/chef/chef-server/docs-chef-io/content/server/install_server_tiered.md
  _vendor/github.com/chef/chef-server/docs-chef-io/content/server/server_backup_restore.md
  _vendor/github.com/chef/chef-server/docs-chef-io/content/server/upgrade_server_ha_v2.md
  _vendor/github.com/chef/chef-server/docs-chef-io/content/server/upgrades.md
  _vendor/github.com/chef/chef-workstation/docs-chef-io/content/workstation/chef_vault.md
  _vendor/github.com/chef/chef-workstation/docs-chef-io/content/workstation/knife_configure.md
  _vendor/modules.txt
  go.mod
  go.sum
Labels: Documentation

#3203 Workstation contents shortcode
  themes/docs-new/layouts/shortcodes/workstation.md
Labels: Documentation

#3205 Default figure width
  themes/docs-new/assets/sass/partials/_grid.scss
Labels: Documentation

#3111 Unified Mode Working Branch
  content/chef_deprecations_client.md
  content/deprecations_unified_mode.md
  content/glossary.md
  content/unified_mode.md
  themes/docs-new/layouts/shortcodes/unified_mode.md
Labels: Aspect: Documentation, Component: Chef Infra Client, Documentation

#3211 Resource updates from automation
  data/infra/resources/windows_printer_port.yaml
  data/infra/resources/zypper_repository.yaml
Labels: Documentation

#3214 Resource updates from automation
  data/infra/resources/git.yaml
  data/infra/resources/group.yaml
  data/infra/resources/homebrew_package.yaml
  data/infra/resources/homebrew_tap.yaml
  data/infra/resources/homebrew_update.yaml
  data/infra/resources/openbsd_package.yaml
  data/infra/resources/osx_profile.yaml
  data/infra/resources/plist.yaml
  data/infra/resources/reboot.yaml
  data/infra/resources/rhsm_repo.yaml
  data/infra/resources/ssh_known_hosts_entry.yaml
  data/infra/resources/sudo.yaml
  data/infra/resources/windows_env.yaml
Labels: Documentation

#3217 Add more spaces to homebrew_package resource
  data/infra/resources/homebrew_package.yaml
Labels: Documentation

#3213 Don't use contractions in the docs
  .vale.ini
Labels: Documentation

#3215 Resource updates for 17.2
  data/infra/resources/windows_pagefile.yaml
  data/infra/resources/windows_printer_port.yaml
  data/infra/resources/zypper_repository.yaml
Labels: Documentation

#3221 Add 17.2 release notes
  content/release_notes_client.md
Labels: Documentation

#3224 Resource updates from automation
  data/infra/resources/execute.yaml
  data/infra/resources/file.yaml
  data/infra/resources/homebrew_cask.yaml
  data/infra/resources/windows_firewall_rule.yaml
Labels: Documentation

#3235 Resource updates from automation
  data/infra/resources/bash.yaml
  data/infra/resources/batch.yaml
  data/infra/resources/cab_package.yaml
  data/infra/resources/chef_client_config.yaml
  data/infra/resources/chef_client_launchd.yaml
  data/infra/resources/chef_client_scheduled_task.yaml
  data/infra/resources/chef_client_systemd_timer.yaml
  data/infra/resources/hostname.yaml
  data/infra/resources/ifconfig.yaml
  data/infra/resources/inspec_waiver_file_entry.yaml
Labels: Documentation

#3237 added always_update_cookbooks to provisioner section of kitchen.
  _vendor/github.com/chef/chef-workstation/docs-chef-io/content/workstation/config_yml_kitchen.md
Labels: Documentation

#3238 Update Shortcodes Style page
  content/style_reuse.md
Labels: Documentation

#3245 Updating expeditor configurations
  .expeditor/config.yml
Labels: Documentation, Expeditor: Skip All

#3248 Chef Infra Server 14.5 release notes
  content/release_notes_server.md
Labels: Documentation

#3246 Remove shortcodes from the handlers page
  content/handlers.md
  infra_resources_readme.md
  themes/docs-new/layouts/_default/infra_resource.html
  themes/docs-new/layouts/_default/infra_resources_all.html
  themes/docs-new/layouts/shortcodes/handler_custom.md
  themes/docs-new/layouts/shortcodes/handler_custom_example_cookbook_versions.md
  themes/docs-new/layouts/shortcodes/handler_custom_example_cookbook_versions_handler.md
  themes/docs-new/layouts/shortcodes/handler_custom_example_cookbook_versions_recipe.md
  themes/docs-new/layouts/shortcodes/handler_custom_example_error_report.md
  themes/docs-new/layouts/shortcodes/handler_custom_example_json_file.md
  themes/docs-new/layouts/shortcodes/handler_custom_interface_data.md
  themes/docs-new/layouts/shortcodes/handler_custom_interface_report.md
  themes/docs-new/layouts/shortcodes/handler_custom_interface_run_report_safely.md
  themes/docs-new/layouts/shortcodes/handler_custom_interface_run_report_unsafe.md
  themes/docs-new/layouts/shortcodes/handler_custom_object_run_status.md
  themes/docs-new/layouts/shortcodes/handler_custom_optional_interfaces.md
  themes/docs-new/layouts/shortcodes/handler_custom_syntax.md
Labels: Documentation

#3243 Add more handler event types
  themes/docs-new/layouts/shortcodes/dsl_handler_event_types.md
Labels: Documentation

#3045 Add Markdownlint to docs
  .markdownlint.yaml
  .mdlrc
  content/style_tools.md
Labels: Aspect: Documentation, Documentation, Type: Docs Debt

#3208 [2673] Stop documenting using the chef_handler cookbook
  content/debug.md
  content/handlers.md
  themes/docs-new/layouts/shortcodes/handler_custom.md
  themes/docs-new/layouts/shortcodes/handler_custom_example_cookbook_versions.md
  themes/docs-new/layouts/shortcodes/handler_custom_example_json_file.md
Labels: Component: Chef Infra Client, Documentation

#3253 Fix images in aws_marketplace
  content/aws_marketplace.md
  static/images/chef_automate_login.png
Labels: Documentation

#3254 Update cookstyle cops pages
  _vendor/github.com/chef/cookstyle/docs-chef-io/data/cookstyle/cops_inspec_deprecations_attributedefault.yml
  _vendor/github.com/chef/cookstyle/docs-chef-io/data/cookstyle/cops_inspec_deprecations_attributehelper.yml
  _vendor/modules.txt
  config/_default/menu.toml
  content/workstation/cookstyle/inspec_deprecations_attributedefault.md
  content/workstation/cookstyle/inspec_deprecations_attributehelper.md
  go.mod
  go.sum
Labels: Documentation
