Repository chef/chef-web-docs, pull requests merged in 2023-03, with the labels that each got.

#4052 Add additional level to nav menu
  themes/docs-new/layouts/partials/sidebar-off-canvas.html
  themes/docs-new/layouts/partials/sidebar-on-canvas.html
Labels: Documentation

#4054 Update reusable text style guide content
  content/style_guide/reuse.md
Labels: Documentation

#4060 Added prerequisites section to the menu
  config/_default/menu.toml
Labels: Aspect: Documentation, Documentation

#4063 changes made in prerequisites section
  _vendor/github.com/chef/automate/components/docs-chef-io/content/automate/ha_aws_deployment_prerequisites.md
  _vendor/github.com/chef/automate/components/docs-chef-io/content/automate/ha_backup_restore_aws_s3.md
  _vendor/github.com/chef/automate/components/docs-chef-io/content/automate/ha_backup_restore_object_storage.md
  _vendor/github.com/chef/automate/components/docs-chef-io/content/automate/ha_cert_rotation.md
  _vendor/github.com/chef/automate/components/docs-chef-io/content/automate/ha_on_premises_deployment_prerequisites.md
  _vendor/github.com/chef/automate/components/docs-chef-io/content/automate/ha_platform_support.md
  _vendor/github.com/chef/automate/components/docs-chef-io/content/automate/ha_security_firewall.md
  _vendor/github.com/chef/automate/components/docs-chef-io/content/automate/loadbalancer_configuration.md
  _vendor/github.com/chef/automate/components/docs-chef-io/data/automate/cli_chef_automate/commands/chef-automate_license.yaml
  _vendor/github.com/chef/automate/components/docs-chef-io/data/automate/cli_chef_automate/commands/chef-automate_license_apply.yaml
  _vendor/github.com/chef/automate/components/docs-chef-io/data/automate/cli_chef_automate/commands/chef-automate_license_complianceResourceRunCount.yaml
  _vendor/github.com/chef/automate/components/docs-chef-io/data/automate/cli_chef_automate/commands/chef-automate_license_complianceResourceRunReport.yaml
  _vendor/github.com/chef/automate/components/docs-chef-io/data/automate/cli_chef_automate/commands/chef-automate_license_nodeRunReport.yaml
  _vendor/github.com/chef/automate/components/docs-chef-io/data/automate/cli_chef_automate/commands/chef-automate_license_status.yaml
  _vendor/github.com/chef/automate/components/docs-chef-io/data/automate/cli_chef_automate/commands/chef-automate_license_uniqNodeRunReport.yaml
  _vendor/modules.txt
  go.mod
  go.sum
Labels: Documentation

#4064 Revert "Added prerequisites section to the menu"
  config/_default/menu.toml
Labels: Documentation

#4066 Update node version
  netlify.toml
Labels: Documentation

#4033 Add contact form to each page so users can leave feedback on each page
  .github/ISSUE_TEMPLATE/large-docs-project.md
  CONTRIBUTING
  README.md
  content/_index.md
  content/feedback.md
  content/sitemap.md
  content/style_guide/_index.md
  content/style_guide/chef_house.md
  content/style_guide/test.md
  layouts/partials/cli_chef_automate_toc.html
  themes/docs-new/assets/js/feedback.js
  themes/docs-new/assets/sass/_buttons.scss
  themes/docs-new/assets/sass/_homepage.scss
  themes/docs-new/assets/sass/_toc.scss
  themes/docs-new/assets/sass/main.scss
  themes/docs-new/assets/sass/partials/_feedback.scss
  themes/docs-new/assets/sass/partials/_sidebar.scss
  themes/docs-new/assets/sass/partials/_toc.scss
  themes/docs-new/assets/sass/typography/_links.scss
  themes/docs-new/assets/sass/typography/_lists.scss
  themes/docs-new/assets/sass/typography/_prose.scss
  themes/docs-new/layouts/_default/baseof.html
  themes/docs-new/layouts/_default/infra_resource.html
  themes/docs-new/layouts/_default/infra_resources_all.html
  themes/docs-new/layouts/_default/list.html
  themes/docs-new/layouts/_default/release_notes.html
  themes/docs-new/layouts/_default/single.html
  themes/docs-new/layouts/_default/sitemap.html
  themes/docs-new/layouts/partials/edit_on_github.html
  themes/docs-new/layouts/partials/feedback.html
  themes/docs-new/layouts/partials/head.html
  themes/docs-new/layouts/partials/infra_resource_toc.html
  themes/docs-new/layouts/partials/infra_resources_all_toc.html
  themes/docs-new/layouts/partials/javascript.html
  themes/docs-new/layouts/partials/release_notes_toc.html
  themes/docs-new/layouts/partials/table-of-contents.html
  themes/docs-new/layouts/partials/versioned-docs-content.html
  themes/docs-new/layouts/partials/versioned-docs-toc.html
Labels: Documentation, WIP: Do Not Merge

#4070 Update Automate
  _vendor/github.com/chef/automate/components/docs-chef-io/content/automate/chef_infra_in_chef_automate.md
  _vendor/github.com/chef/automate/components/docs-chef-io/content/automate/ha_existing_a2ha_to_automate_ha.md
  _vendor/github.com/chef/automate/components/docs-chef-io/data/automate/cli_chef_automate/commands/chef-automate_cert-rotate.yaml
  _vendor/github.com/chef/automate/components/docs-chef-io/data/automate/cli_chef_automate/commands/chef-automate_config_patch.yaml
  _vendor/github.com/chef/automate/components/docs-chef-io/data/automate/cli_chef_automate/commands/chef-automate_config_show.yaml
  _vendor/modules.txt
  go.mod
  go.sum
Labels: Documentation

#4071 Fix links for Habitat
  content/chef_license_accept.md
  content/platform_overview.md
  content/terraform.md
Labels: Documentation

#4072 Add logo size to svg
  themes/docs-new/static/images/progress-chef-primary-logo.svg
Labels: Documentation
